* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
li {
  list-style-type: none;
}
body {
  background-color: hsl(210, 46%, 95%);
  font-size: 0.8125rem;
  font-family: 'Manrope', sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}
.container {
  max-width: 50rem;
  display: flex;
  background-color: white;
  overflow: hidden;
  border-radius: 0.5rem;
}
.container .container-image .image {
  max-width: 20rem;
  height: 100%;
}
.container .container-content {
  max-width: 27rem;
  padding: 2rem;
  padding-right: 3rem;
  color: hsl(217, 19%, 35%);
}
.container .container-content .title {
  margin-bottom: 1rem;
}
.container .container-content .description {
  margin-bottom: 1.5rem;
  line-height: 1.5;
}
.container .container-content .profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container .container-content .profile-block {
  display: flex;
  gap: 1rem;
}
.container .container-content .profile-block img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
.container .container-content .profile-info h2 {
  font-size: 0.9rem;
}
.container .container-content .profile-info p {
  font-size: 0.8rem;
  color: hsl(214, 17%, 51%);
}
.container .container-content .button {
  border-radius: 50%;
  border: none;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.share {
  display: flex;
  background-color: hsl(217, 19%, 35%);
  color: hsl(214, 17%, 51%);
  text-transform: uppercase;
  letter-spacing: 5px;
  max-width: 15rem;
  justify-content: space-between;
  padding: 1rem 2rem;
  gap: 1rem;
  border-radius: 0.5rem;
  position: relative;
  left: 19.6rem;
  bottom: 12.5rem;
}
.share ul {
  display: flex;
  gap: 1rem
}
.triangle {
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 12px solid  hsl(217, 19%, 35%);
  position: relative;
  left: 19.5rem;
  bottom: 12.5rem;
}

.hidden {
  display: none;
}
.mark {
  font-size: 11px;
  text-align: center;
  margin-top: 2rem;
}
.mark a {
  color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 900px) {
  .container {
    display: grid;
    margin: 2rem 0.5rem 0;
    max-width: 25rem;
  }
  .container .container-image .image {
    max-width: 30rem;
    max-height: 15rem;
    width: 100%;
  }
  .container .container-content .description {
    color: hsl(214, 17%, 51%);
  }
  .container .container-content .profile {
    margin-bottom: -1rem;
  }
  .container .container-content .button {
    z-index: 2;
  }
  .share {
    width: 96%;
    max-width: 25rem;
    height: 4.5rem;
    left: 0;
    bottom: 7.4rem;
    align-items: center;
    justify-content: left;
  }
  .triangle {
    width: 0;
    height: 0;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    position: absolute;
    left: 0;
    bottom: 0;
  }
}
